/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #062033;
    line-height: 1.7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

ul[class], ol[class] {
    padding: 0;
    list-style-type: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

body, h1, h2, h3, h4, h5, h6, p, ol[class], ul[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {font: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}


/* container */
.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}


/* section */
.section {
    padding: 90px 0;
}

.section--gray {
    background-color: #efefef;
}

.section--gallery {
    padding-bottom: 0;
    padding-top: 0;
}

.section--facts {
    background-image: url("../images/facts/facts_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section--facts .section__title {
    font-size: 26px;
}

.section--facts .section__string {
    font-size: 16px;
}

.section--facts .section__header {
    margin-bottom: 20px;
}

.section--facts .section__wrapper {
    margin-bottom: 0;
}

.section--facts .section__string {
    color: #ffffff;
}

.section--facts .section__string::before {
    left: -95px;

    width: 70px;
}

.section--facts .section__string::after{
    right: -95px;

    width: 70px;
}

.section--contact .section__text {
    font-size: 22px;
    max-width: 1000px;
}

.section__header {
    margin-bottom: 70px;

    font-family: 'Lato', sans-serif;
    text-align: center;
}

.section__title {
    color: #4c76ff;
    font-size: 36px;
    font-weight: 900;
    
    text-transform: uppercase;
}

.section__wrapper {
    margin-bottom: 50px;
}

.section__string {
    position: relative;

    display: inline;

    color: #cbcbcb;
    font-size: 20px;
}

.section__string::before {
    position: absolute;
    left: -110px;
    top: 50%;

    content: '';
    display: block;
    width: 90px;
    height: 1px;

    background-color: #d7dadc;
}

.section__string::after {
    position: absolute;
    right: -110px;
    top: 50%;

    content: '';
    display: block;
    width: 90px;
    height: 1px;

    background-color: #d7dadc;
}

.section__text {
    max-width: 920px;
    margin: 0 auto;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* section-features */
.section-features {
    display: flex;

    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.section-features__item {
    display: flex;
    padding-right: 30px;
}

.section-features__image {
    margin: 10px 15px 0 0;
}

.section-features__icon {
    padding: 7px 12px;
    width: 43px;

    color: #4c76ff;

    border: 1px solid #4c76ff;
    border-radius: 50%;

    background-origin: content-box;
}

.section-features__title {
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 600;
}

.section-features__text {
    font-size: 14px;
}


/* header */
.header {
    position: absolute;
    z-index: 1000;

    width: 100%;

    color: #ffffff;
    font-family: 'Lato', sans-serif;

    background-color: rgba(16, 22, 54, .2);
}

.header.fixed {
    position: fixed;
    background-color: rgba(16, 22, 54, .9);
}

.header.fixed .header__inner {
    margin: 7px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}

.header__wrapper {
    display: flex;
}

.header__tagline {
    margin: 10px 0 0 65px;

    color: rgba(255, 255, 255, 0.4);
    font-weight: 100;
    font-style: italic;
    
}


/* intro */
.intro {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    font-family: 'Lato', sans-serif;
    text-align: center;

    background-image:url("../images/intro/intro-bg.jpg");
    background-size: cover;
}

.intro__header {
    margin: 15vh 0;
}

.intro__title {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    line-height: 0.8;
}

.intro__title--dot {
    color: #4c76ff;
}

.intro__subtitle {
    color: #fff;
    font-size: 62px;
}

.intro__subtitle--blue {
    color: #4c76ff;
}

.intro__text {
    position: relative;

    display: inline;

    color: #fff;
    font-size: 22px;
}

.intro__text::before {
    position: absolute;
    left: -85px;
    top: 50%;

    content: '';
    display: block;
    width: 38px;
    height: 1px;

    background-color: #4c76ff;
}

.intro__text::after {
    position: absolute;
    right: -85px;
    top: 50%;

    content: '';
    display: block;
    width: 38px;
    height: 1px;

    background-color: #4c76ff;
}

.intro__social {
    display: flex;
    justify-content: center;

    font-size: 25px;
}

.intro__item {
    margin: 0 10px;
}

.intro__link {
    color: rgba(255, 255, 255, 0.3);

    transition: color .2s linear;
}

.intro__link:hover {
    color: rgba(255, 255, 255, 1);
}


/* logo */
.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 27px;
}

.logo--dot {
    color: #4c76ff;
}

.logo__link {
    color: #fff;
    text-decoration: none;
}

/* nav */
.nav {
    color: #ffffff;
}

.nav__li {
    display: inline;
    margin: 0 15px;
}

.nav__li:last-child {
    margin-right: 0;
}

.nav__link {
    position: relative;

    color: #fff;
    font-weight: 100;
    text-decoration: none;
}

.nav__link::before {
    position: absolute;
    bottom: 45px;
    left: 0;
    
    content: '';
    display: block;
    width: 100%;
    height: 2px;

    opacity: 0;
    background: #4c76ff;

    transition: opacity .2s linear;
}

.nav__link:hover::before {
    opacity: 1;
}

/* nav-toggle */
.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 19px;
    padding: 0;

    background: none;
    border: 0;

    transition: height .2s linear;
}

.nav-toggle__item {
    display: block;
    height: 3px;
    width: 100%;

    font-size: 0;

    background-color: #fff;

    transition: transform .2s linear;
}

.nav-toggle::after, .nav-toggle::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    transition: transform .2s linear;
}


/* features */
.features__text {
    margin: 0 auto 65px;
    max-width: 1000px;

    text-align: center;
    font-size: 19px;
}

.features__content {
    display: flex;
    justify-content: space-between;
}

.features-column {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.features-column__item {
    display: flex;
    padding: 20px;

    cursor: pointer;
    
    transition: background-color .2s linear;
}

.features-column__item:hover {
    background-color: #fefce9;
}

.features-column__icon {
    display: flex;
    margin-right: 50px;

    color: #b7b6b7;
    font-size: 43px;
}

.features-column__title {
    font-size: 17px;
    font-weight: 700;
}

.features-column__text {
    font-size: 14px;
}

.features-column__photo {
    margin: 40px auto 0;
}


/* works */
.gallery__nav {
    margin-bottom: 70px;
}

.gallery__ul {
    display: flex;
    justify-content: center;
}

.gallery__li {
    margin: 0 15px;
}

.gallery__button {
    padding: 5px 10px;

    color: #062033;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.3;
    
    background: #fff;
    border: 0;
    border-radius: 5px;
}

.gallery__button:hover {
    color: #fff;

    background-color: #4c76ff;
}

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}

.gallery__item {
    position: relative;

    width: 25%;

    background-color: #4c76ff;
}

.gallery__item:hover .gallery__image {
    opacity: .1;
}

.gallery__image {
    width: 100%;
    transition: opacity .2s linear;
}

.gallery__information {
    position: absolute;
    z-index: 900;
    top: 50%;

    width: 100%;
    
    color: #fff;
    text-align: center;

    opacity: 0;

    transform: translateY(-50%);
    transition: opacity .2s linear;
}

.gallery__item:hover .gallery__information {
    opacity: 1;
}

.gallery__ref {
    margin-bottom: 10px;
    padding: 5px 7px;

    color: #fff;
    font-size: 12px;

    border: 2px solid #fff;
    border-radius: 50%;
}

.gallery__ref:hover {
    text-decoration: none;
    color: #fff;
}

.gallery__icon {
    display: inline;
}

.gallery__title {
    font-size: 17px;
    margin-top: 20px;

    font-weight: 700;
}

.gallery__subtitle {
    font-size: 13px;
}
/* our-team */
.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__item {
    text-align: center;
}

.card__image {
    position: relative;

    min-width: 285px;
    margin-bottom: 15px;

    background-color: #4c76ff;
}

.card__image:hover .card__photo {
    opacity: 0.05;
}

.card__photo {
    width: 100%;

    transition: opacity .2s linear;
}

.card-information__wrapper {
    overflow: hidden;
}

.card-information {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 100%;

    color: #ffffff;
    font-size: 16px;

    opacity: 0;

    transition: opacity .2s linear;
}

.card__image:hover .card-information {
    opacity: 1;
}

.card-information__title {
    margin-bottom: 5px;

    font-weight: 600;
}

.card-information__subtitle {
    font-weight: 400;
    line-height: 1.5;
}

.card-information__social {
    display: flex;

    font-size: 25px;
}

.card-information__item {
    min-width: 50px;
    margin: 2px;
    padding: 3px 0;
    z-index: 900;

    color: #ffffff;
    text-decoration: none;

    background-color: rgba(0, 0, 0, .3);

    transition: background-color .2s linear;
}

.card-information__item:hover {
    background-color: rgba(255, 255, 255, .3);
}

.card__title {
    font-weight: 600;
    font-size: 18px;
}

.card__link {
    color: #062033;
    text-decoration: none;

    transition: color .2s linear;
}

.card__link:hover {
    color: #0eb493;
}

.card__subtitle {
    color: #062033;
    font-size: 14px;
}
/* facts */
.facts {
    color: #fff;
}

.facts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 990px;
    margin: 0 auto;
}

.facts__item {
    margin: 0 5px 40px 5px;

    text-align: center;
}

.facts__icon {
    padding: 30px;
    margin: 0 auto 30px;
    width: 120px;

    font-size: 30px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
}

.facts__title {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.1;
}

.facts__subtitle {
    text-transform: uppercase;
    font-size: 16px;
}

/* contact */

.contact {
    display: flex;
    justify-content: space-between;
}

.contact__header {
    width: 24%;
}

.contact__title {
    margin-bottom: 30px;

    color: #062033;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.contact__text {
    font-size: 14px;   
}

.contact__href {
    color: #337ab7;
    text-decoration: none;
}

.contact__href:hover {
    color: #235480;
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.contact-form__item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.contact-form__title {
    margin-bottom: 10px;

    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
}

.contact-form__input {
    width: 100%;
    height: 55px;

    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #e0e0e0;
}

.contact-form__input::placeholder {
    color: #5b646e;
    font-size: 14px;
}

.contact-form__input--twice {
    width: 47.5%;
}

.contact-form__button {
    margin-left: auto;
    padding: 0 12px;

    color: #000;
    font-size: 17px;
    font-weight: 600;

    background-color: #fff;
    border: 0;
    border-radius: 5px;

    transition: background-color .1s linear, color .1s linear;
}

.contact-form__button:hover {
    background-color: #4c76ff;
    color: #ffffff;
}

.contact-form__button:hover::before {
    color: #fff;
}

.contact-form__button::before {
    position: relative;
    top: 1px;

    content: '\f0e0';
    margin-right: 8px;
    
    color: #4c76ff;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 100;

    transition: color .1s linear, background-color .1s linear;
}

.contact-social {
    display: flex;
    flex-direction: column;
    width: 3%;
}

.contact-social__item {
    color: #cdd2d6;
    font-size: 28px;
}
/* map */
.section--map {
    padding: 0;
    margin: 0;
    line-height: 0;
}

/* footer */
.footer {
    color: #fff;

    background-color: #010305;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1115px;
    margin: 0 auto;
    padding: 50px 15px;
}

.footer__item {
    width: 30%;
}

.logo--footer {
    margin-bottom: 10px;
}

.footer__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.footer-subscribe__form {
    position: relative;
}

.footer-subscribe {
    color: #dcdcdc;
}

.footer-subscribe__title {
    margin-bottom: 30px;

    font-family: 'Lato', san-serif;
    font-size: 21px;
    font-weight: 900;
}

.footer-subscribe__input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;

    color: #fff;

    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
}

.footer-subscribe__button {
    position: absolute;
    right: 0px;

    height: 40px;
    padding-right: 15px;

    color: #676869;
    background-color: #000;
    border: 2px solid #fff;
    border-left: 0;

    transition: color .2s linear;
}

.footer-subscribe__button:hover {
    color: #fff;
}

.footer-subscribe__text {
    font-size: 15px;
}

.footer-links {
    color: #dcdcdc;
}

.footer-links__title {
    margin-bottom: 16px;

    font-family: 'Lato', san-serif;
    font-size: 21px;
    font-weight: 900;
}

.footer-links__list {
    display: flex;
    flex-wrap: wrap;
}

.footer-links__item {
    width: 50%;
    margin-top: 8px;

    font-size: 14px;
}

.footer-links__link {
    color: #dcdcdc;
    text-decoration: none;

    transition: color .2s linear;
}

.footer-links__link:hover {
    color: #fff;

    text-decoration: underline;
}


/* Media --------------------------------------------------------------------- 1190 */
@media(max-width: 1190px) {
    /* works */
    .gallery__item {
        width: auto;
    }

    /* card */
    .card {
        justify-content: space-around;
    }

    .card__item {
        margin: 0 0 25px 0;
    }

    .card__image {
        margin-bottom: 3px;
    }
}
/* Media --------------------------------------------------------------------- 990 */

@media(max-width: 990px) {
    /* section */
    .section {
        padding: 60px 0 0;
    }

    .section--gray {
        padding-bottom: 60px;
    }
    
    .section--map {
        padding: 0;
    }

    .section__header {
        margin-bottom: 40px;
    }

    /* intro */
    .intro__title {
        font-size: 75px;
    }

    .intro__subtitle {
        font-size: 58px;
    }

    /* section-features */
    .section-features {
        flex-direction: column;
    }

    .section-features__item {
        margin-bottom: 50px;
    }

    /* features */
    .features__content {
        flex-direction: column;
    }

    .features-column {
        width: 100%;
    }

    .features-column__item {
        justify-content: center;
    }

    /* contact */
    .contact {
        flex-direction: column;
    }

    .contact__header {
        width: 100%;
        text-align: center;
    }

    .contact__title {
        margin-bottom: 10px;
    }

    .contact-form {
        flex-direction: column;
        width: 100%;
    }

    .contact-form__title {
        margin: 50px 0 0 0;

        text-align: center;
    }

    .contact-form__button {
        margin: 0 auto;
    }

    .contact-social {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    /* footer */
    .footer__wrapper {
        flex-direction: column;
        padding: 50px 15px 0px;
    }

    .footer__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .logo--footer {
        margin-bottom: 0;
    }

    .footer-subscribe__title {
        margin-bottom: 15px;
    }

    .footer-subscribe__input {
        margin-bottom: 10px;
    }

    .footer-links {
        max-width: 350px;
    }
}
/* Media --------------------------------------------------------------------- 760 */
@media(max-width: 760px) {
    /* header */
    .header__tagline {
        display: none;
    }

    /* intro */
    .intro__title {
        font-size: 75px;
    }

    .intro__subtitle {
        font-size: 44px;
    }

    /* facts */
    .facts__list {
        justify-content: space-around;
    }
}
/* Media --------------------------------------------------------------------- 575 */
@media(max-width: 575px) {
    /* section */
    .section__title {
        font-size: 28px;
    }

    /* header */
    .header.active {
        background-color: rgba(16, 22, 54, .9);
    }
    
    .header.active .nav__li ,.header.active .nav{
        display: block;
    }
    
    .header.active .nav {
        position: absolute;
        top: 100%;
        left: 0;
    
        width: 100%;
    
        background-color: rgba(16, 22, 54, .9);
    }
    
    .header.active .nav__li:last-child {
        margin: 0 15px 15px 15px;
    }
    
    .header.active .nav__link {
        display: block;
    
        padding: 14px;
    }
    
    .header.active .nav__link:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    
    .header.active .nav__link::before {
        display: none;
    }
    
    .header.active .nav-toggle {
        height: 30px;
    }
    
    .header.active .nav-toggle::before {
        transform: rotate(45deg) translate3d(9px, 9px, 0);
        transition: transform .2s linear;
    }
    
    .header.active .nav-toggle::after {
        transform: rotate(-45deg) translate3d(10px, -10px, 0);
        transition: transform .2s linear;
    }
    
    .header.active .nav-toggle__item {
        background: 0;
        transition: background .2s linear;
    }

    /* nav */
    .nav {
        display: none;
    }

    /* nav-toggle */
    .nav-toggle {
        display: flex;
    }

    /* intro */
    .intro__title {
        font-size: 57px;
    }

    .intro__subtitle {
        font-size: 30px;
    }

    .intro__text::before {
        display: none;
    }

    .intro__text::after {
        display: none;
    }

    /* section-features */
    .section-features__item {
        flex-direction: column;
        padding-right: 0;

        text-align: center;
    }

    .section-features__item:last-child {
        margin-bottom: 0;
    }

    .section-features__image {
        margin: 0 auto 10px;
    }

    /* features */
    .features__text {
        margin: 0 auto 30px;

        font-size: 15px;
    }

    .features-column__item {
        flex-direction: column;
        padding: 20px 10px;
    }

    .features-column__icon {
        margin: 0 0 10px 0;
    }

    /* works */
    .gallery__nav {
        margin-bottom: 15px;
    }

    .gallery__ul {
        flex-direction: column;
        align-items: center;
    }

    .gallery__li {
        margin: 10px 15px 0;
    }

    /* card */
    .section--card {
        padding: 60px 0 40px 0;
    }

    .card__image {
        min-width: 265px;
    }

    /* contact */
    .contact-form__item--twice {
        flex-direction: column;
    }

    .contact-form__input--twice {
        width: 100%;
    }

    /* footer */
    .footer-links__item {
        font-size: 13px;
    }

    
}